.jobs-list {
}

.waiting-job {
    color: #8c8585;
}
.running-job {
    color: #058aff;
}
.done-job {
    color: #253a46;
}

.failed-job {
    color: #d90101;
}
.success-job {
    color: #11bf11;
}

.cancel-btn {
    color: white;
    background-color: #b10404;
    float: right;
}

.navigation {
    list-style-type: none;
}
